{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>物料管理系统</title>
    <script src="{% static 'js/echarts.js' %}"></script>
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}">
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo layui-hide-xs layui-bg-black">物料管理系统</div>
        <!-- 头部区域（可配合layui 已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <!-- 移动端显示 -->
            <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-header-event="menuLeft">
                <i class="layui-icon layui-icon-spread-left"></i>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item layui-hide layui-show-md-inline-block">
                <a href="javascript:;">
                    <img src="{% static 'login/image/touxiang.jpg' %}"
                         class="layui-nav-img">
                    {{ request.session.user_name }}
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">账户</a></dd>
                    <dd><a href="">设置</a></dd>
                    <dd><a href="/logout/">登出</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item" lay-header-event="menuRight" lay-unselect>
                <a href="javascript:;">
                    <i class="layui-icon layui-icon-more-vertical"></i>
                </a>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">报表查询</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/data/customer?page=1">客户表</a></dd>
                        <dd><a href="/data/order?page=1">订单表</a></dd>
                        <dd><a href="/data/supplier?page=1">供货商表</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">图表分析</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/data/line">折线图</a></dd>
                        <dd><a href="/data/bar">柱状图</a></dd>
                        <dd><a href="/data/pie">饼图</a></dd>
                        <dd><a href="/data/scatter">散点图</a></dd>
                        <dd><a href="/data/radar">雷达图</a></dd>
                        <dd><a href="/data/dashboard">仪表盘图</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="">系统消息<span class="layui-badge">99+</span></a>
                </li>
                <li class="layui-nav-item"><a href="/index/">返回首页</a></li>
                <li class="layui-nav-item"><a href="/admin/">管理员</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <div id="main" style="width: 1200px;height: 600px">
        </div>
    </div>

    <script type="text/javascript">
        var chartDom = document.getElementById('main');
        var myChart = echarts.init(chartDom);
        var option = {
            title: {
                text: '供货商完善度',
            },
            tooltip: {},
            legend: {
                data: ['现有供货商数', '预期供货商数']
            },
            radar: {
                // shape: 'circle',
                name: {
                    textStyle: {
                        color: '#fff',
                        backgroundColor: '#999',
                        borderRadius: 3,
                        padding: [3, 5]
                    }
                },
                indicator: [
                    {name: '食品原料', max: 70},
                    {name: '日用劳保', max: 60},
                    {name: '五金器材', max: 60},
                    {name: '酒水饮料', max: 60},
                    {name: '电脑配件', max: 60},
                    {name: '商务礼品', max: 60}
                ]
            },
            series: [{
                type: 'radar',
                data: [
                    {
                        value: {{ data }},
                        name: '现有供货商数'
                    },
                    {
                        value: [55, 45, 45, 45, 45, 45],
                        name: '预期供货商数'
                    }
                ]
            }]
        };
        option && myChart.setOption(option);

    </script>
    <div class="layui-footer" style="color: #1db393">
        <!-- 底部固定区域 -->
        竹杖芒鞋轻胜马，谁怕？一蓑烟雨任平生。
    </div>
</div>
<script src="{% static 'layui/layui.js' %}"></script>
<script>
    //JS
    layui.use(['element', 'layer', 'util'], function () {
        var element = layui.element
            , layer = layui.layer
            , util = layui.util
            , $ = layui.$;

        //头部事件
        util.event('lay-header-event', {
            //左侧菜单事件
            menuLeft: function (othis) {
                layer.msg('展开左侧菜单的操作', {icon: 0});
            }
            , menuRight: function () {
                layer.open({
                    type: 1
                    , content: '<div style="padding: 15px;">处理右侧面板的操作</div>'
                    , area: ['260px', '100%']
                    , offset: 'rt' //右上角
                    , anim: 5
                    , shadeClose: true
                });
            }
        });

    });
</script>
</body>
</html>